body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #000;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-buttons {
    margin-top: 30px;
}

.cta-buttons a {
    display: inline-block;
    padding: 15px 30px;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-buttons a:hover {
    background-color: #333;
}

.features {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.feature {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    text-align: left;
}

.feature h2 {
    color: #000;
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    color: #666;
}


footer {
    margin-top: 8.5px;
    background-color: #000;
    color: #fff;
    padding: 0px 0;
}

footer p {
    margin: 0;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.testimonials {
    margin-top: 50px;
    overflow: hidden;
}

.testimonial-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.testimonial {
    width: 100%;
    min-width: 300px; /* Adjust as needed */
}

.testimonial-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 0 10px;
}

.testimonial p {
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial-author {
    font-weight: bold;
}
